* {
  font-family: Poppins, Arial;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps video proportions */
  transform: translate(-50%, -50%);
  z-index: -1; /* Send it to the back */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0B1320;
  padding-top: 20px;
}

.custom-shape-divider-top-1730987850 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1730987850 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 155px;
}

.custom-shape-divider-top-1730987850 .shape-fill {
  fill: #0B1320;
}

.logo {
  width: 100px;
  height: 90px;
  margin-top: 30px;
  margin-left: 60px;
}

.menu-button {
  color: white;
  padding: 15px 25px;
  margin-top: 30px;
  border-radius: 25px;
  border: solid white 2px;
  margin-right: 60px;
  cursor: pointer;
  transition: color 0.8s, border-color 0.8s;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.menu-button:hover {
  color: yellow;
  border-color: yellow;
}

.description-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first-heading {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  
}

.first-heading span:hover{
  text-decoration: underline;
  color: blue;
}

.second-heading {
  font-size: 35px;
  color: #FFA500;
  font-weight: Bold;
  text-align: left;
  margin-bottom: 20px;
}

.first-description {
  text-align: left;
  margin-bottom: 20px;
  width: 600px;
}

.company-pic {
  width: 650px;
  height: 400px;
  border-radius: 50px;
  transition: box-shadow 0.8s;
  cursor: pointer;
}

.company-pic:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

.third-heading {
  font-size: 25px;
  color: #FFA500;
  font-weight: Bold;
  text-align: left;
  margin-bottom: 20px;
}

.company-link {
  font-weight: 700;
  transition: color 0.8s;
}

.company-link:hover {
  color: red;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.suggestion-layout {
  display: flex;
  flex-direction: column;
}

.suggestion {
  font-family: "Edu AU VIC WA NT Pre", cursive;
}

.steps {
  font-size: 30px;
  color: #FFA500;
  font-weight: Bold;
  margin-top: -15px;
  margin-left: 50px;
}

.skills-layout {
  display: flex;
  gap: 20px;
}

.skills {
  font-family: Open Sans;
  width: 100px;
  height: 65px;
  padding: 30px;
  padding-top: 60px;
  font-weight: Bold;
  text-align: center;
  border-radius: 190px;
  color: white;
  cursor: pointer;
  transition: opacity 0.8s;
}

.skills:hover {
  opacity: 0.7;
}

.arrow-pic {
  width: 120px;
}

.custom-shape-divider-bottom-1731195880 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: 100px;
}

.custom-shape-divider-bottom-1731195880 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1731195880 .shape-fill {
  fill: #37598f;
}

.closing-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #37598f;
}

.closing-topic {
  font-size: 25px;
  font-weight: Bold;
  color: rgb(252, 84, 84);
  text-decoration: underline;
}

.closing-message {
  width: 400px;
  font-size: 15px;
  color: white;
}

.team-pic {
  width: 280px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  transition: width 0.5s, height 0.7s;
  
}

.team-pic:hover {
  width: 290px;
  height: 210px;
  box-shadow: 10px 10px 30px rgba(247, 244, 244, 0.8);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: #0B1320;
}

.enquiry {
  font-size: 17px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: color 0.8s;
}

.enquiry:hover {
  color: yellow;
}

.enquiry-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}






